<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CacheComponents" Directory="DistCacheDir">
      <Component Id="CacheComponents_1" Guid="DFF0A526-ED25-4056-892F-1DCFB187B0A2">
        <File Id="File_CacheComponents_1" Source="$(var.SourceDir)\dist\cache\index.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_2" Guid="F01AACC8-363C-4DDF-9155-544CA473BD46">
        <File Id="File_CacheComponents_2" Source="$(var.SourceDir)\dist\cache\index.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_3" Guid="A2230D94-DACB-4EFC-B2EE-9327C94C077F">
        <File Id="File_CacheComponents_3" Source="$(var.SourceDir)\dist\cache\index.js" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_4" Guid="6ABF1B20-B4A2-4B49-A83E-D41BB5632143">
        <File Id="File_CacheComponents_4" Source="$(var.SourceDir)\dist\cache\index.js.map" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_5" Guid="20747D45-BFAC-407F-A434-A43B01014A44">
        <File Id="File_CacheComponents_5" Source="$(var.SourceDir)\dist\cache\lru-cache.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_6" Guid="8B932B59-7287-4265-A5F9-0F6D83C7AE1D">
        <File Id="File_CacheComponents_6" Source="$(var.SourceDir)\dist\cache\lru-cache.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_7" Guid="CFF0FF22-EBDD-467A-9110-BC5F96E41056">
        <File Id="File_CacheComponents_7" Source="$(var.SourceDir)\dist\cache\lru-cache.js" KeyPath="yes" />
      </Component>
      <Component Id="CacheComponents_8" Guid="8B7E25A9-0FBF-462A-A676-6CDF400D6E4F">
        <File Id="File_CacheComponents_8" Source="$(var.SourceDir)\dist\cache\lru-cache.js.map" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
