<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="HandlersComponents" Directory="DistHandlersDir">
      <Component Id="HandlersComponents_1" Guid="F69781FC-6A35-4F6C-9D5E-977A4052C0ED">
        <File Id="File_HandlersComponents_1" Source="$(var.SourceDir)\dist\handlers\index.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_2" Guid="C2897934-76AA-4D21-AA14-A7C487E807B4">
        <File Id="File_HandlersComponents_2" Source="$(var.SourceDir)\dist\handlers\index.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_3" Guid="4F321846-804E-491F-8492-A4BDBE05CD4C">
        <File Id="File_HandlersComponents_3" Source="$(var.SourceDir)\dist\handlers\index.js" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_4" Guid="C0E50C0E-9DE9-4C71-893C-175175E27FA2">
        <File Id="File_HandlersComponents_4" Source="$(var.SourceDir)\dist\handlers\index.js.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_5" Guid="582948E9-71CB-4AD2-AFDE-45BF9F5A0E2C">
        <File Id="File_HandlersComponents_5" Source="$(var.SourceDir)\dist\handlers\prompts.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_6" Guid="1A8AC992-C7DB-4686-9BE6-133EA4027B79">
        <File Id="File_HandlersComponents_6" Source="$(var.SourceDir)\dist\handlers\prompts.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_7" Guid="9032405E-8D72-4D3F-919B-6BF1B4DA3F4C">
        <File Id="File_HandlersComponents_7" Source="$(var.SourceDir)\dist\handlers\prompts.js" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_8" Guid="8BBDAF77-0E6B-48E2-9DD0-DABD6FA6337C">
        <File Id="File_HandlersComponents_8" Source="$(var.SourceDir)\dist\handlers\prompts.js.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_9" Guid="1D30599E-C24D-40FC-855C-A7A22FDF6056">
        <File Id="File_HandlersComponents_9" Source="$(var.SourceDir)\dist\handlers\resources.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_10" Guid="C727FF51-25A8-498E-9F72-40A1DA575BE1">
        <File Id="File_HandlersComponents_10" Source="$(var.SourceDir)\dist\handlers\resources.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_11" Guid="51642EA0-B8DC-46A9-9DDE-498D38D1647D">
        <File Id="File_HandlersComponents_11" Source="$(var.SourceDir)\dist\handlers\resources.js" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_12" Guid="976984E2-03CE-43E4-87F9-79CD4D0CA72E">
        <File Id="File_HandlersComponents_12" Source="$(var.SourceDir)\dist\handlers\resources.js.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_13" Guid="5FC543F2-477E-4F46-A20E-0AEEDF7C77E4">
        <File Id="File_HandlersComponents_13" Source="$(var.SourceDir)\dist\handlers\tools.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_14" Guid="0F4A2E59-8514-4F1D-8A5A-903C3BEC3027">
        <File Id="File_HandlersComponents_14" Source="$(var.SourceDir)\dist\handlers\tools.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_15" Guid="27C4CF35-42B1-4DEB-907A-9A870EE48317">
        <File Id="File_HandlersComponents_15" Source="$(var.SourceDir)\dist\handlers\tools.js" KeyPath="yes" />
      </Component>
      <Component Id="HandlersComponents_16" Guid="1AC5AEE9-A49F-4E36-9B2F-A02F7DC85744">
        <File Id="File_HandlersComponents_16" Source="$(var.SourceDir)\dist\handlers\tools.js.map" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
