<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="TypesComponents" Directory="DistTypesDir">
      <Component Id="TypesComponents_1" Guid="776CFAC2-7940-464D-BDD8-C8C693269B19">
        <File Id="File_TypesComponents_1" Source="$(var.SourceDir)\dist\types\azure-auth.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_2" Guid="EC1B8FC8-6BB4-4326-AC3F-47A1B9BDCD09">
        <File Id="File_TypesComponents_2" Source="$(var.SourceDir)\dist\types\azure-auth.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_3" Guid="E6B16392-948E-48D2-88A9-BDD406413FA4">
        <File Id="File_TypesComponents_3" Source="$(var.SourceDir)\dist\types\azure-auth.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_4" Guid="5B6AF448-D356-4C15-94E7-C4F24E57AE17">
        <File Id="File_TypesComponents_4" Source="$(var.SourceDir)\dist\types\azure-auth.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_5" Guid="60A536A0-FE80-465A-A1D2-D4A7CD315221">
        <File Id="File_TypesComponents_5" Source="$(var.SourceDir)\dist\types\config.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_6" Guid="80133460-2961-46EA-8B90-72B641D6B78A">
        <File Id="File_TypesComponents_6" Source="$(var.SourceDir)\dist\types\config.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_7" Guid="57061E1D-3415-4917-88F5-2693DF9A7424">
        <File Id="File_TypesComponents_7" Source="$(var.SourceDir)\dist\types\config.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_8" Guid="24AB5A4D-751F-4C82-BF40-446A54EA2B7F">
        <File Id="File_TypesComponents_8" Source="$(var.SourceDir)\dist\types\config.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_9" Guid="4CE4961F-C717-40C2-961E-E020EB7C8FEF">
        <File Id="File_TypesComponents_9" Source="$(var.SourceDir)\dist\types\index.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_10" Guid="93E0A758-3010-4969-94B9-243D5BF2A951">
        <File Id="File_TypesComponents_10" Source="$(var.SourceDir)\dist\types\index.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_11" Guid="7176E0F5-A640-4E63-A4A8-3B62B8019B24">
        <File Id="File_TypesComponents_11" Source="$(var.SourceDir)\dist\types\index.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_12" Guid="D449C2ED-5F76-42FE-A3F0-A1F9FA00A65C">
        <File Id="File_TypesComponents_12" Source="$(var.SourceDir)\dist\types\index.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_13" Guid="CB3C9617-2159-4D4F-B154-3D1E96C7D11C">
        <File Id="File_TypesComponents_13" Source="$(var.SourceDir)\dist\types\intune-config.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_14" Guid="1B8A75B3-047E-4D38-AD33-54E299B7F083">
        <File Id="File_TypesComponents_14" Source="$(var.SourceDir)\dist\types\intune-config.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_15" Guid="AFBC5B67-ED92-44E2-AB85-34A651FDCAE9">
        <File Id="File_TypesComponents_15" Source="$(var.SourceDir)\dist\types\intune-config.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_16" Guid="74C80250-A599-4562-A5CD-FBFC2FA29F81">
        <File Id="File_TypesComponents_16" Source="$(var.SourceDir)\dist\types\intune-config.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_17" Guid="E8D2F5E9-9B97-484E-BAA7-E5386BADD508">
        <File Id="File_TypesComponents_17" Source="$(var.SourceDir)\dist\types\intune-publisher.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_18" Guid="76E96893-B642-4875-B44B-EF40CBAE132B">
        <File Id="File_TypesComponents_18" Source="$(var.SourceDir)\dist\types\intune-publisher.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_19" Guid="06210A68-C018-42CD-A878-2569B5282E9E">
        <File Id="File_TypesComponents_19" Source="$(var.SourceDir)\dist\types\intune-publisher.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_20" Guid="35CC3A2A-ED00-44DB-B4B4-F3CEE2855BD4">
        <File Id="File_TypesComponents_20" Source="$(var.SourceDir)\dist\types\intune-publisher.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_21" Guid="D262CA53-2E49-4E43-BFF7-3F35BD98A602">
        <File Id="File_TypesComponents_21" Source="$(var.SourceDir)\dist\types\intune.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_22" Guid="99F72122-3933-4B50-A114-1238B325A987">
        <File Id="File_TypesComponents_22" Source="$(var.SourceDir)\dist\types\intune.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_23" Guid="53948B97-2048-4657-9839-FF4947C1622B">
        <File Id="File_TypesComponents_23" Source="$(var.SourceDir)\dist\types\intune.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_24" Guid="8A6F12DE-7B0D-447E-9D24-27C8F3FA09EA">
        <File Id="File_TypesComponents_24" Source="$(var.SourceDir)\dist\types\intune.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_25" Guid="9D93B232-95A1-4999-A999-13430B7679E2">
        <File Id="File_TypesComponents_25" Source="$(var.SourceDir)\dist\types\mcp.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_26" Guid="91B155D0-5763-4795-995E-98203DC2CBC9">
        <File Id="File_TypesComponents_26" Source="$(var.SourceDir)\dist\types\mcp.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_27" Guid="53AEFBD1-1A50-4CE4-B9FA-B6CF9D00D8ED">
        <File Id="File_TypesComponents_27" Source="$(var.SourceDir)\dist\types\mcp.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_28" Guid="B3022C24-A75A-4B08-BC77-A7484F600E71">
        <File Id="File_TypesComponents_28" Source="$(var.SourceDir)\dist\types\mcp.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_29" Guid="50AA6407-42E1-4FD2-B801-D57822735E2D">
        <File Id="File_TypesComponents_29" Source="$(var.SourceDir)\dist\types\prompts.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_30" Guid="B339A4CE-EDF8-42CC-B1A9-C64E21F7428A">
        <File Id="File_TypesComponents_30" Source="$(var.SourceDir)\dist\types\prompts.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_31" Guid="3E77A4E9-64E7-4B05-9485-314FBF612E00">
        <File Id="File_TypesComponents_31" Source="$(var.SourceDir)\dist\types\prompts.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_32" Guid="DB8636F6-4787-4629-A5CC-EAE1F6EE8B97">
        <File Id="File_TypesComponents_32" Source="$(var.SourceDir)\dist\types\prompts.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_33" Guid="F07D44FD-5978-4B2B-995E-4A0AC054B796">
        <File Id="File_TypesComponents_33" Source="$(var.SourceDir)\dist\types\psadt.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_34" Guid="ACE90C5B-EF60-4D41-9C8B-505538F0E208">
        <File Id="File_TypesComponents_34" Source="$(var.SourceDir)\dist\types\psadt.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_35" Guid="546E30DB-6F51-4586-BD10-5A4A4A312673">
        <File Id="File_TypesComponents_35" Source="$(var.SourceDir)\dist\types\psadt.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_36" Guid="F80C53E2-A750-4413-9A34-E795A74C0397">
        <File Id="File_TypesComponents_36" Source="$(var.SourceDir)\dist\types\psadt.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_37" Guid="41EEDC5E-5CE1-4EA3-A508-2BF15A57BFAA">
        <File Id="File_TypesComponents_37" Source="$(var.SourceDir)\dist\types\validation.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_38" Guid="AFFB3BDB-76B9-44B3-939C-45D003520D09">
        <File Id="File_TypesComponents_38" Source="$(var.SourceDir)\dist\types\validation.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_39" Guid="BD43D82B-CE12-4AC2-AA05-93A4CF82F297">
        <File Id="File_TypesComponents_39" Source="$(var.SourceDir)\dist\types\validation.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_40" Guid="4002D278-E4A7-43EA-982B-8D91380C8565">
        <File Id="File_TypesComponents_40" Source="$(var.SourceDir)\dist\types\validation.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_41" Guid="EC6F9E4F-4C7E-405B-9815-765D099AC0DF">
        <File Id="File_TypesComponents_41" Source="$(var.SourceDir)\dist\types\winget.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_42" Guid="4F8365E6-AA13-4207-848A-D146DD66970E">
        <File Id="File_TypesComponents_42" Source="$(var.SourceDir)\dist\types\winget.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_43" Guid="2C134D16-A6F1-4D8D-808C-9F6AB957F312">
        <File Id="File_TypesComponents_43" Source="$(var.SourceDir)\dist\types\winget.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_44" Guid="AFC642B9-BAFA-4242-BDE9-CC1A27A80ADE">
        <File Id="File_TypesComponents_44" Source="$(var.SourceDir)\dist\types\winget.js.map" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
