<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="TypesComponents" Directory="DistTypesDir">
      <Component Id="TypesComponents_1" Guid="74D8DDB8-2C51-4664-947B-667A2F0EEF48">
        <File Id="File_TypesComponents_1" Source="$(var.SourceDir)\dist\types\azure-auth.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_2" Guid="271E4A0B-98F1-4E1F-830F-D7B95E61DEAF">
        <File Id="File_TypesComponents_2" Source="$(var.SourceDir)\dist\types\azure-auth.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_3" Guid="637ABA33-F282-4794-8505-2764E07D60CF">
        <File Id="File_TypesComponents_3" Source="$(var.SourceDir)\dist\types\azure-auth.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_4" Guid="7D0225CF-047E-4305-96E0-B58EC968B534">
        <File Id="File_TypesComponents_4" Source="$(var.SourceDir)\dist\types\azure-auth.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_5" Guid="18F920F0-237C-471B-A430-3E7A8C40FFD8">
        <File Id="File_TypesComponents_5" Source="$(var.SourceDir)\dist\types\config.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_6" Guid="DEFED742-0733-4057-BD06-5CD88DD88EED">
        <File Id="File_TypesComponents_6" Source="$(var.SourceDir)\dist\types\config.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_7" Guid="614DC3F0-D71C-4EA2-8326-36EED38EEF3A">
        <File Id="File_TypesComponents_7" Source="$(var.SourceDir)\dist\types\config.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_8" Guid="50FD25EE-242B-46D4-90CB-80A37CC56584">
        <File Id="File_TypesComponents_8" Source="$(var.SourceDir)\dist\types\config.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_9" Guid="07594108-6B47-4D56-B1EB-05ED06A73873">
        <File Id="File_TypesComponents_9" Source="$(var.SourceDir)\dist\types\download.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_10" Guid="5459B9A2-E75C-4A29-903D-A3F75402BED1">
        <File Id="File_TypesComponents_10" Source="$(var.SourceDir)\dist\types\download.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_11" Guid="F747E2E2-170F-45B1-AB9B-F818CB416FC5">
        <File Id="File_TypesComponents_11" Source="$(var.SourceDir)\dist\types\download.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_12" Guid="EC4B1403-DEC8-4010-99AE-D98D1EA6625B">
        <File Id="File_TypesComponents_12" Source="$(var.SourceDir)\dist\types\download.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_13" Guid="71CEBCAD-CE5C-400D-B8B7-26FFDCFD1A3D">
        <File Id="File_TypesComponents_13" Source="$(var.SourceDir)\dist\types\index.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_14" Guid="B1D7DD05-E187-40E7-8C9E-48EDE8CE7842">
        <File Id="File_TypesComponents_14" Source="$(var.SourceDir)\dist\types\index.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_15" Guid="EF9B38AC-A529-496B-8E90-154B83D57509">
        <File Id="File_TypesComponents_15" Source="$(var.SourceDir)\dist\types\index.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_16" Guid="DD997512-0E04-4DB7-99F0-7B9428311A22">
        <File Id="File_TypesComponents_16" Source="$(var.SourceDir)\dist\types\index.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_17" Guid="34386C5E-7130-4A5B-9085-0D5C1059CEA6">
        <File Id="File_TypesComponents_17" Source="$(var.SourceDir)\dist\types\intune-config.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_18" Guid="19A107CF-712A-4DE1-AF63-3F4A0D1757BC">
        <File Id="File_TypesComponents_18" Source="$(var.SourceDir)\dist\types\intune-config.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_19" Guid="57BF5DAB-0B16-431E-8DE0-3750FA151C17">
        <File Id="File_TypesComponents_19" Source="$(var.SourceDir)\dist\types\intune-config.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_20" Guid="6E925FE3-F7FB-45CA-A854-3E4E6C2A36FD">
        <File Id="File_TypesComponents_20" Source="$(var.SourceDir)\dist\types\intune-config.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_21" Guid="DC09C156-F1C1-48F2-89C4-0FAE91DF9BCB">
        <File Id="File_TypesComponents_21" Source="$(var.SourceDir)\dist\types\intune-publisher.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_22" Guid="B3FCC074-D38E-4DF3-A4D4-5237DB4A7E03">
        <File Id="File_TypesComponents_22" Source="$(var.SourceDir)\dist\types\intune-publisher.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_23" Guid="7EE29A95-D254-4E87-8F5E-F75677D2CC89">
        <File Id="File_TypesComponents_23" Source="$(var.SourceDir)\dist\types\intune-publisher.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_24" Guid="592F9E44-8067-4C7A-8C8A-25C17C4C805B">
        <File Id="File_TypesComponents_24" Source="$(var.SourceDir)\dist\types\intune-publisher.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_25" Guid="BF73E5F0-FB4D-4FEB-8569-C26709EA54E5">
        <File Id="File_TypesComponents_25" Source="$(var.SourceDir)\dist\types\intune.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_26" Guid="7D799697-B054-4505-AAA4-C7F1AB816F2F">
        <File Id="File_TypesComponents_26" Source="$(var.SourceDir)\dist\types\intune.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_27" Guid="637807D1-7133-47A2-8FC9-830BDFC2966B">
        <File Id="File_TypesComponents_27" Source="$(var.SourceDir)\dist\types\intune.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_28" Guid="ECDB59B6-9F88-44FA-BCC7-26C59E636CA8">
        <File Id="File_TypesComponents_28" Source="$(var.SourceDir)\dist\types\intune.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_29" Guid="6E242652-5988-47C5-AECA-2EA7CF3E9A7F">
        <File Id="File_TypesComponents_29" Source="$(var.SourceDir)\dist\types\mcp.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_30" Guid="4B442E41-3379-409F-9F6A-43E948AAEB81">
        <File Id="File_TypesComponents_30" Source="$(var.SourceDir)\dist\types\mcp.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_31" Guid="C6EC40A3-C2A9-4C13-ADB1-4A242B3BCDAD">
        <File Id="File_TypesComponents_31" Source="$(var.SourceDir)\dist\types\mcp.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_32" Guid="CFDA2380-85DC-40D9-B7C1-11747042B797">
        <File Id="File_TypesComponents_32" Source="$(var.SourceDir)\dist\types\mcp.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_33" Guid="99B48A6A-F32C-4045-920D-6AE6C1D4264F">
        <File Id="File_TypesComponents_33" Source="$(var.SourceDir)\dist\types\prompts.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_34" Guid="1C4CB17F-5CF8-425C-B8E3-83E0AF7C2BA8">
        <File Id="File_TypesComponents_34" Source="$(var.SourceDir)\dist\types\prompts.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_35" Guid="06A0CBBC-9788-4B7C-A41F-8D4A0A4D726A">
        <File Id="File_TypesComponents_35" Source="$(var.SourceDir)\dist\types\prompts.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_36" Guid="9CD69E9A-9E36-4A2E-8324-895673B669D3">
        <File Id="File_TypesComponents_36" Source="$(var.SourceDir)\dist\types\prompts.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_37" Guid="E52CEC5C-89BE-4367-A9F7-C7DFE7ED5583">
        <File Id="File_TypesComponents_37" Source="$(var.SourceDir)\dist\types\psadt-download.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_38" Guid="F0FF5FF2-81BB-40CF-8290-D86426F71100">
        <File Id="File_TypesComponents_38" Source="$(var.SourceDir)\dist\types\psadt-download.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_39" Guid="5742514E-518C-4118-8BCB-9B9F59843469">
        <File Id="File_TypesComponents_39" Source="$(var.SourceDir)\dist\types\psadt-download.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_40" Guid="B6E985FF-8368-4E90-B679-A4FA38E47806">
        <File Id="File_TypesComponents_40" Source="$(var.SourceDir)\dist\types\psadt-download.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_41" Guid="93440095-6C8F-419D-B0A1-350537F61A30">
        <File Id="File_TypesComponents_41" Source="$(var.SourceDir)\dist\types\psadt.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_42" Guid="A178F8FD-F21E-487F-85A7-5DBE0FCA7FD0">
        <File Id="File_TypesComponents_42" Source="$(var.SourceDir)\dist\types\psadt.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_43" Guid="1FB43F20-537D-43D1-B767-38DC43C88230">
        <File Id="File_TypesComponents_43" Source="$(var.SourceDir)\dist\types\psadt.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_44" Guid="768FCCB9-50C5-4B8E-9D1B-12E61F5F9A20">
        <File Id="File_TypesComponents_44" Source="$(var.SourceDir)\dist\types\psadt.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_45" Guid="24EB94A4-A348-4E39-8D85-35C57B1DC2AC">
        <File Id="File_TypesComponents_45" Source="$(var.SourceDir)\dist\types\validation.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_46" Guid="E1E623BF-EF2D-4079-949D-9BBA65D8AF3B">
        <File Id="File_TypesComponents_46" Source="$(var.SourceDir)\dist\types\validation.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_47" Guid="76E98E75-26A9-4F55-A44D-D58F7DE6F832">
        <File Id="File_TypesComponents_47" Source="$(var.SourceDir)\dist\types\validation.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_48" Guid="501E3B54-D566-4936-8462-220D27AB11D5">
        <File Id="File_TypesComponents_48" Source="$(var.SourceDir)\dist\types\validation.js.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_49" Guid="A91EEF3A-1E2A-40A1-8D13-0C0174382BD7">
        <File Id="File_TypesComponents_49" Source="$(var.SourceDir)\dist\types\winget.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_50" Guid="91E4DA36-E24F-4BC3-B838-EF31C54939E6">
        <File Id="File_TypesComponents_50" Source="$(var.SourceDir)\dist\types\winget.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_51" Guid="73AC60CE-9424-470E-A314-C78AE92710AD">
        <File Id="File_TypesComponents_51" Source="$(var.SourceDir)\dist\types\winget.js" KeyPath="yes" />
      </Component>
      <Component Id="TypesComponents_52" Guid="708B6E68-CD9E-48BC-AF48-AD4FD91B53AC">
        <File Id="File_TypesComponents_52" Source="$(var.SourceDir)\dist\types\winget.js.map" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
