<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ServicesComponents" Directory="DistServicesDir">
      <Component Id="ServicesComponents_1" Guid="9D9EA306-0980-4D8D-9549-D2B03C216FB9">
        <File Id="File_ServicesComponents_1" Source="$(var.SourceDir)\dist\services\detection.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_2" Guid="82A988E8-99B2-4D2C-BE19-D9FDABFA5F10">
        <File Id="File_ServicesComponents_2" Source="$(var.SourceDir)\dist\services\detection.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_3" Guid="A7C276D8-B1C6-4CDF-A74A-C0AAA03A7123">
        <File Id="File_ServicesComponents_3" Source="$(var.SourceDir)\dist\services\detection.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_4" Guid="DC48021E-ADDA-43D7-A907-F7D6DF976B2A">
        <File Id="File_ServicesComponents_4" Source="$(var.SourceDir)\dist\services\detection.js.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_5" Guid="44228F0D-983E-498B-9AA1-0EADB91ACEB3">
        <File Id="File_ServicesComponents_5" Source="$(var.SourceDir)\dist\services\graph-auth.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_6" Guid="8E182738-6FFA-423C-81F0-0AD88E4FB040">
        <File Id="File_ServicesComponents_6" Source="$(var.SourceDir)\dist\services\graph-auth.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_7" Guid="078EA202-6FA3-4D3E-9232-175D388BA231">
        <File Id="File_ServicesComponents_7" Source="$(var.SourceDir)\dist\services\graph-auth.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_8" Guid="54B07609-F87F-45FF-B8AA-A67270539447">
        <File Id="File_ServicesComponents_8" Source="$(var.SourceDir)\dist\services\graph-auth.js.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_9" Guid="F54148CC-12BC-45EF-BF24-8E36D9F038A7">
        <File Id="File_ServicesComponents_9" Source="$(var.SourceDir)\dist\services\index.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_10" Guid="A89B23B6-FC7A-4E88-8EA8-D1CFF38B5ED2">
        <File Id="File_ServicesComponents_10" Source="$(var.SourceDir)\dist\services\index.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_11" Guid="F1296276-8017-441D-A439-798C79D2BE30">
        <File Id="File_ServicesComponents_11" Source="$(var.SourceDir)\dist\services\index.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_12" Guid="FB1421A6-78C4-42B4-B002-984C7FC7F6EB">
        <File Id="File_ServicesComponents_12" Source="$(var.SourceDir)\dist\services\index.js.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_13" Guid="A93350F9-F099-49EF-A6AA-44210FF954F6">
        <File Id="File_ServicesComponents_13" Source="$(var.SourceDir)\dist\services\intune-publisher.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_14" Guid="B067AC66-B520-4734-8D2B-2165D73693EC">
        <File Id="File_ServicesComponents_14" Source="$(var.SourceDir)\dist\services\intune-publisher.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_15" Guid="AF00BC01-3BC5-4B21-9740-927B79902256">
        <File Id="File_ServicesComponents_15" Source="$(var.SourceDir)\dist\services\intune-publisher.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_16" Guid="60FDBA1F-8644-42D9-A274-FAC6F6D21CCB">
        <File Id="File_ServicesComponents_16" Source="$(var.SourceDir)\dist\services\intune-publisher.js.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_17" Guid="08F0CD16-6847-4AF9-BA83-C78F622AF623">
        <File Id="File_ServicesComponents_17" Source="$(var.SourceDir)\dist\services\psadt.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_18" Guid="E4AF98B9-3293-49A9-BFDD-EADBBEE8241E">
        <File Id="File_ServicesComponents_18" Source="$(var.SourceDir)\dist\services\psadt.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_19" Guid="A6ABFB22-A2E5-4762-A2AA-FC532C47ABAC">
        <File Id="File_ServicesComponents_19" Source="$(var.SourceDir)\dist\services\psadt.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_20" Guid="169CB9C6-F15C-424B-8AB1-F603853EC09B">
        <File Id="File_ServicesComponents_20" Source="$(var.SourceDir)\dist\services\psadt.js.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_21" Guid="B71D4117-33EE-43E1-ADF8-7079AAF6FCD3">
        <File Id="File_ServicesComponents_21" Source="$(var.SourceDir)\dist\services\validation.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_22" Guid="A1FCA63B-D455-4E78-B40C-5C1136899A50">
        <File Id="File_ServicesComponents_22" Source="$(var.SourceDir)\dist\services\validation.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_23" Guid="7F678386-A826-4EF7-83A5-3F4B8029EEC3">
        <File Id="File_ServicesComponents_23" Source="$(var.SourceDir)\dist\services\validation.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_24" Guid="4871C0D8-63BB-45C9-9B33-5642543218CA">
        <File Id="File_ServicesComponents_24" Source="$(var.SourceDir)\dist\services\validation.js.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_25" Guid="D4B601DB-41A9-4922-954B-14814B585FBC">
        <File Id="File_ServicesComponents_25" Source="$(var.SourceDir)\dist\services\winget.d.ts" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_26" Guid="13F196C9-F053-4556-8C4D-07F444547B4A">
        <File Id="File_ServicesComponents_26" Source="$(var.SourceDir)\dist\services\winget.d.ts.map" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_27" Guid="26030C52-1369-4D6F-8F1A-BFBE31DF4367">
        <File Id="File_ServicesComponents_27" Source="$(var.SourceDir)\dist\services\winget.js" KeyPath="yes" />
      </Component>
      <Component Id="ServicesComponents_28" Guid="1AB069A5-6C6C-4C39-A804-F53AFFC2E66A">
        <File Id="File_ServicesComponents_28" Source="$(var.SourceDir)\dist\services\winget.js.map" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
